<!--ksbk-2018-9-27 16:27:25-->
<!--重置密码页面-->
<div class="reset-password-container">
  <div class="reset-password">
    <!--header，可以提出来跟login共享的-->
    <div class="login-page-header">
      <img style="width: 196px;height: 60px" src="../../../assets/img/flower02.jpeg" alt="">
    </div>
    <!--body-->
    <div class="invite-register" *ngIf="!successUpdate">
      <div class="invite-register-body">
        <h6>{{'authMgmt.common.resPas'|translate}}</h6>
        <div class="gy-form">
          <!--手机号-->
          <div class="gy-form-item">
            <div class="gy-input-group clearfix">
              <nz-select style="width: 120px;position:relative; left:1px;" [nzSize]="'large'" class="fl" [(ngModel)]="selectMobileArea" (ngModelChange)="phoneNumberVlidate()">
                <nz-option *ngFor="let mobileArea of mobileAreaList;" [nzLabel]="'+'+mobileArea.val"
                           [nzValue]="mobileArea">
                </nz-option>
              </nz-select>
              <nz-input style="width:280px" class="fr" [nzPlaceHolder]="'authMgmt.iRegister.placeHolder5'|translate"
                        [(ngModel)]="validateForm.phoneNumber" (nzBlur)="phoneNumberVlidate()"
                        (ngModelChange)="phoneNumberVlidate()">
              </nz-input>
            </div>
            <div class="gy-form-explain">
              <span>{{validateForm.phoneNumberVfict|translate}}</span>
            </div>
          </div>
          <!--密码-->
          <div class="gy-form-item">
            <password-strength [(showPasswordIntensity)]="isShowPasswordIntensity"
                               [(password)]="validateForm.password"></password-strength>
            <nz-input [nzType]="'password'" [nzPlaceHolder]="'authMgmt.iRegister.placeHolder3'|translate"
                      [(ngModel)]="validateForm.password" (nzBlur)="passwordBlur()"
                      (ngModelChange)="passwordVlidate()" (nzFocus)="passworFocus()">
            </nz-input>
            <div class="gy-form-explain">
              <span>{{validateForm.passwordVfict|translate}}</span>
            </div>
          </div>
          <!--确认密码-->
          <div class="gy-form-item">
            <nz-input [nzType]="'password'" [nzPlaceHolder]="'authMgmt.iRegister.placeHolder4'|translate"
                      [(ngModel)]="validateForm.checkPassword" (nzBlur)="checkPasswordVlidate()"
                      (ngModelChange)="checkPasswordVlidate()">
            </nz-input>
            <div class="gy-form-explain">
              <span>{{validateForm.checkPasswordVfict|translate}}</span>
            </div>
          </div>
          <!--图片验证码-->
          <div class="gy-form-item">
            <div class="gy-input-group clearfix">
              <nz-input style="width:300px;" class="fl" [nzPlaceHolder]="'authMgmt.iRegister.placeHolder7'|translate"
                        [(ngModel)]="validateForm.captcha" (nzBlur)="captchaVlidate()"
                        (ngModelChange)="captchaVlidate()">

              </nz-input>
              <a href="javascript:;" class="img-code fr" (click)="updateImgCode()">
                <img src="{{imgCodeUrl?imgCodeUrl:''}}" alt="">
              </a>
            </div>
            <div class="gy-form-explain">
              <span>{{validateForm.captchaVfict|translate}}</span>
            </div>
          </div>
          <!--手机验证码-->
          <div class="gy-form-item">
            <div class="gy-input-group clearfix">
              <nz-input style="width:300px;" class="fl" [nzPlaceHolder]="'authMgmt.iRegister.placeHolder8'|translate"
                        [(ngModel)]="validateForm.smsCaptcha" (nzBlur)="smsCaptchaVlidate()"
                        (ngModelChange)="smsCaptchaVlidate()">

              </nz-input>
              <ba-send-btn class="fr" [(isChange)]="isChangeSendBtnTxt"
                           style="width:90px;color:#fff;"
                           [(sendBtnTxt)]="sendBtnTxt" (sendVcode)="sendVcode()">

              </ba-send-btn>
            </div>
            <div class="gy-form-explain">
              <span>{{validateForm.smsCaptchaVfict|translate}}</span>
            </div>
          </div>

          <div class="gy-form-btn">
            <button nz-button [nzType]="'primary'" class="fr invite-confirm-btn"
                    [nzSize]="'large'" (click)="submitForm()">
              <span>{{'deviceMgmt.btn.ok2'|translate}}</span>
            </button>
            <a class="fr invite-register-back" href="javascript:;"
               (click)="goBackLogin();">
               {{'authMgmt.iRegister.backLogin'|translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--footer，可以提出来跟login共享的-->
    <div class="invite-register-success" *ngIf="successUpdate">
      <div class="title-tip">
        <img src="../../../../../assets/images/circle/invite-ent/success-relation.png" alt="">
        <span style="vertical-align: middle;">{{'authMgmt.common.resPas'|translate}}</span>
      </div>
      <div class="content-tip">{{'authMgmt.common.resPasOk'|translate}}</div>
      <div>
        <button nz-button [nzType]="'primary'" style="width: 288px;"
                [nzSize]="'large'" (click)="goBackLogin()">
          <span>{{'authMgmt.common.backHome'|translate}}</span>
        </button>
      </div>
    </div>
    <div class="footer">
      {{'authMgmt.common.copyRight'|translate}}
    </div>
  </div>
</div>
