<div>
    this is new
</div>

<div>
    <!--直接用到路径的地方-->
    <a routerLink="/store-detail">stroe-detail</a>
</div>
  
 <div>
      <!--直接用到路径的地方-->
      <a routerLink="/farm">farm</a>
      <br>
      <a routerLink="/login">login</a>
      <br>
      <a routerLink="/role">role page</a>
      <br>
      <a routerLink="/access">access</a>
      <br>
      <a href="/login">loginRef</a>
      <br>
      <a routerLink="/login/login">login and login</a>
      <br>
      <a routerLink="/store-detail">stroe-detail in division</a>
      <br>
      <a routerlink="/reset-password">reset-password</a>
</div>
<router-outlet></router-outlet>